<h1>Dashboard</h1>
<form>
<button type="submit" formmethod="GET" formaction="/note/create" class="btn btn-primary brtn-block">Create a note</button>
</form>

<% include ./partials/allNotes %> 


<a href="/users/logout">logout</a>
