<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>express</title>
</head>
<body>

<div class='navbar'>
     <ul>
          <li></li>
          <li></li>
          <li>
               <form id='searchForm' method="POST" action="/search">
                    <input type="text" id="searchInput" name="searchValue" value="" placeholder="Search for users or notes" />
                    <select name="searchBy" id='search-by'>
                         <option value="User">Users</option>
                         <option value="Note">Notes</option>
                    </select>
                    <button id="searchButton" type="submit">Search</button> 
               </form>
          </li>
     </ul>
</div>
    <%- body %> 
    <%# <script src="/javascripts/getData.js"></script> %>
    <script src="/javascripts/fetch.js"></script>
</body>
</html>