<h1>You searched for: <%= searchFilter %>s </h1>

<% if (searchResults) { %>
 <% searchResults.forEach(result => { %>
  <% if (result.name) { %>
  <div>
    <h1> <%= result.name %> </h1>
  </div>
  <% } else if(result.noteTitle) { %>
  <div>
    <%# Thanks to autopopulate, we can reference the author name!! %> 
    <p>Title: <%= result.noteTitle %></p>
    <p>Author: <%= result.author.name %></p>
  </div>
  <% } %>
 <% }) %>
<% } %>